/* Reset*/

* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* Header*/

.bg-verde {
  background-color: #5F7161;
}

.logoMarca {
  width: 170px;
}

.navbar-nav {
  font-size: 23px;
}

ul li {
  padding: 20px;
}

.tituloPagina {
  background-color: #A25B5B;
}
.tituloPagina p {
  text-align: center;
}

/* Main inicio*/

.slide {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
.slide img {
  height: 80vh;
}

.fotoLogo {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.categoriaCosmeticos {
  text-align: center;
  color: black;
  font-size: 25px;
}
.categoriaCosmeticos .subcategorias {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.categoriaCosmeticos .subcategorias span {
  margin-top: 30px;
  margin-bottom: 30px;
}
.categoriaCosmeticos .subcategorias span .categorias {
  background-color: #A25B5B;
  color: black;
  padding: 10px 15px;
}
.categoriaCosmeticos .subcategorias span .categorias:hover {
  color: dimgray;
}

/* Main productos*/

.mainGrid {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 20% auto;
  grid-template-rows: 1fr;
}
.mainGrid aside {
  background-color: #F9E4D4;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mainGrid aside h3 {
  text-align: center;
  margin-top: 10px;
}
.mainGrid aside span {
  text-align: center;
  font-size: 20px;
}
.mainGrid aside span .asideProductos {
  text-decoration: none;
  color: black;
  text-align: center;
}
.mainGrid aside span .asideProductos:hover {
  color: #A25B5B;
}
.mainGrid .galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 35px;
}
.mainGrid .galeria .galeriaProductos {
  width: 240px;
  padding: 5px 5px;
}
.mainGrid .galeria h4 {
  text-align: center;
  margin: 10px 5px;
  background-color: cadetblue;
}
.mainGrid .galeria h4 .fotoProductos {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.mainGrid .galeria h4 .fotoProductos:hover {
  color: #A25B5B;
}

/* Main nosotros*/

.seccionNosotros h3 {
  text-align: center;
  color: rgb(27, 205, 205);
}
.seccionNosotros p {
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  color: black;
}

/* Main contacto*/

.seccionContacto p {
  font-size: 25px;
  margin-left: 20px;
}
.seccionContacto p .logoInstagram {
  width: 35px;
}
.seccionContacto h3 {
  font-size: 25px;
  margin-left: 20px;
  color: black;
  text-align: center;
}
.seccionContacto .nombreContacto {
  margin-left: 20px;
  font-size: 25px;
}
.seccionContacto .apellidoContacto {
  margin-left: 20px;
  font-size: 25px;
}
.seccionContacto .emailContacto {
  margin-left: 20px;
  font-size: 25px;
}
.seccionContacto .mensaje {
  margin-left: 20px;
  font-size: 25px;
}

/*main preg frecuentes*/

.seccionPreguntasfrecuentes, footer .copyright {
  text-align: center;
  font-size: 20px;
}
.seccionPreguntasfrecuentes h3, footer .copyright h3 {
  color: rgb(27, 205, 205);
  margin-top: 20px;
}
.seccionPreguntasfrecuentes p, footer .copyright p {
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
}
.seccionPreguntasfrecuentes h4, footer .copyright h4 {
  text-align: left;
  margin-left: 20px;
}
.seccionPreguntasfrecuentes span, footer .copyright span {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.seccionPreguntasfrecuentes span .mediosDepago1, footer .copyright span .mediosDepago1 {
  width: 60px;
}
.seccionPreguntasfrecuentes span .mediosDepago2, footer .copyright span .mediosDepago2 {
  width: 80px;
}
.seccionPreguntasfrecuentes span .mediosDepago3, footer .copyright span .mediosDepago3 {
  width: 110px;
}

/* footer*/

footer {
  background-color: dimgray;
}
footer .col {
  margin-top: 15px;
}
/* columna 1*/

footer .col ul li {
  list-style: none;
}
footer .col ul li a {
  text-decoration: none;
  color: black;
}
footer .col ul li a:hover {
  color: #A25B5B;
}
/* columna 2*/

footer .logoInstagram1 {
  width: 50px;
  border-radius: 15px;
}
footer .whatsapp {
  width: 50px;
  border-radius: 15px;
}
footer .contenedorCarritofooter {
  margin-top: 150px;
}
footer .contenedorCarritofooter img {
  width: 35px;
}
footer .contenedorCarritofooter a {
  padding: 10px;
  text-decoration: none;
  color: black;
}
footer .crearCuenta {
  text-decoration: none;
  color: black;
  position: relative;
  top: 10px;
}
footer .crearCuenta:hover {
  color: #A25B5B;
}
/* columna 3*/

footer .telefono {
  font-size: 18px;
  position: relative;
  left: 0;
}
footer .iframe {
  width: 180px;
}
footer .copyright {
  color: white;
}

/* media queries/ mobile first */

@media (min-width: 651px) and (max-width: 1000px) {
  .slide img {
    height: 70vh;
  }
}
@media (min-width: 351px) and (max-width: 650px) {
  .slide img {
    height: 60vh;
  }
}
@media (max-width: 350px) {
  .slide img {
    height: 50vh;
  }
}
@media (min-width: 180px) and (max-width: 230px) {
  .slide img {
    height: 30vh;
  }
}
@media (max-width: 350px) {
  .fotoLogo {
    width: 230px;
  }
}
@media (min-width: 180px) and (max-width: 230px) {
  .fotoLogo {
    width: 150px;
  }
}
@media (min-width: 180px) and (max-width: 230px) {
  .categoriaCosmeticos article span .categorias {
    padding: 5px 5px;
  }
}
@media (max-width: 1230px) {
  .mainGrid aside {
    display: none;
  }
}
@media (max-width: 479px) {
  .mainGrid {
    background-image: url(../imagenes/marcos.jpeg);
  }
}
@media (max-width: 1230px) {
  .mainGrid {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 100%;
  }
}
@media (min-width: 480px) and (max-width: 560px) {
  .mainGrid .galeria .galeriaProductos {
    padding: 10px;
  }
  .mainGrid .galeria h4 {
    margin: 0px 10px;
  }
}
@media (max-width: 300px) {
  .mainGrid .galeria .galeriaProductos {
    width: 200px;
  }
}
@media (min-width: 180px) and (max-width: 230px) {
  .mainGrid .galeria .galeriaProductos {
    width: 160px;
  }
}
@media (min-width: 453px) and (max-width: 495px) {
  footer .contenedorCarritofooter {
    position: relative;
    top: -40px;
  }
}
@media (min-width: 453px) and (max-width: 495px) {
  footer .crearCuenta {
    position: relative;
    top: -40px;
  }
}
/* media queries/ tablet */

@media (min-width: 769px) and (max-width: 991px) {
  footer .telefono {
    font-size: 15px;
    position: relative;
    left: 7px;
  }
}
/* media queries/ desktop */

@media (min-width: 1200px) and (max-width: 1399px) {
  footer .telefono {
    font-size: 17px;
    position: relative;
    right: 65px;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  footer .telefono {
    position: relative;
    right: 100px;
  }
}

/*# sourceMappingURL=estilos.css.map */
