
$coloruno:    #5F7161;
$colordos:    #A25B5B;
$colortres:   black;
$colorcuatro: dimgray;
$colorcinco:  #F9E4D4;
$colorseis:   cadetblue;
$colorsiete:  rgb(27, 205, 205);
$colorocho:   white;
$colornueve:  rgb(3, 32, 51);