@import "../scss/colores";
@import "../scss/tipografias";

/* Main contacto*/
@mixin contacto ($margen, $tipografia ) {
    margin-left: $margen;
    font-size: $tipografia;
}
.seccionContacto{
    p{
        font-size: $fontsize2;
        margin-left: 20px;
         .logoInstagram{
            width: 35px;
         }
    }
    h3{
        font-size: $fontsize2;
        margin-left: 20px;
        color: $colortres;
        text-align: center;
    }
    .nombreContacto{
        @include contacto(20px, 25px )
    }
    .apellidoContacto{
        @include contacto(20px, 25px )
    }
    .emailContacto{
        @include contacto(20px, 25px )
    }
    .mensaje{
        @include contacto(20px, 25px )
    }
    .botonEnviar-contacto{
        background-color: $colortres;
        color: $colorocho;
        padding: 5px 5px
    }
}









