@import "../scss/colores";
@import "../scss/tipografias";

/* Main contacto*/

.seccionContacto p{
    font-size: $fontsize2;
    margin-left: 20px;
      .logoInstagram{
        width: 35px;
      }
}

.seccionContacto h4{
    font-size: $fontsize2;
    margin-left: 20px;
    color: $colortres;
    text-align: center;
}

.nombreContacto{
    margin-left: 20px;
    font-size: $fontsize2;
}

.apellidoContacto{
    margin-left: 20px;
    font-size: $fontsize2;
}

.emailContacto{
    margin-left: 20px;
    font-size: $fontsize2;
}

.mensaje{
    margin-left: 20px;
    font-size: $fontsize2;
}
