@import "../scss/colores";
@import "../scss/tipografias";

//main nosotros

.seccionNosotros h2{
    text-align: center;
    color: $colorsiete;
}
.seccionNosotros p{
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    font-size: $fontsize3;
    color: $colortres; 
}