@import "../scss/colores";
@import "../scss/tipografias";

/* Main nosotros*/
.seccionNosotros{
    h3{
        text-align: center;
        color: $colorsiete;
    }
     p{
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
        font-size: $fontsize3;
        color: $colortres; 
     }
}
